*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26,26,26);
}

.box-1{
    background: linear-gradient(green -20%, gray);
    position: absolute;
}

body{
    background: linear-gradient(to top, rgb(3, 87, 3), gray 70%);
}
.box{
    height: 100vh;
    flex-direction: column;
}
.box-1{
    flex-direction: column;
    width: 650px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(22, 177, 22), -2px -2px 10px rgb(22, 177, 22);
}
.submit{
    width: 250px;
    height: 50px;
    font-size: 25px;
    background: linear-gradient(to top, rgb(3, 87, 3), gray 70%);
}
.text{
    width: 300px;
    height: 40px;
    background-color:gray;
    border: 1px solid;
}
form{
    font-size: 20px;
    margin-bottom: 15px;
    margin: 15px;
}
h2{
    margin-bottom: 25px;
    font-size: 30px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
