body{
    background: linear-gradient(to top, rgb(90, 124, 90), rgb(177, 216, 177) 70%);
}
.Titolo
{
    position: relative;
    font-size: 58pt;
    text-align: center;
    color: rgb(2, 3, 2);
}
.d1
{
    background: linear-gradient(rgb(9, 107, 9) 30%, rgb(4, 151, 4));
    margin: 15pt;
    height: 100pt;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(4, 5, 4), -2px -2px 10px rgb(11, 14, 11);
}
.d2
{
    margin-left: 15pt;
    width: 300px;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 642px;
    background: linear-gradient(green -20%, gray);
    margin-top: 50pt;
    margin-bottom: 15pt;
    box-shadow: 3px 3px 10px rgb(17, 20, 17), -2px -2px 10px rgb(2, 2, 2);

}
.d3 {
    margin-right: 30pt;
    margin-left: 30pt;
    width: 1026px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 642px;
    background: linear-gradient(green -20%, gray);
    margin-top: 50pt;
    margin-bottom: 15pt;
    box-shadow: 3px 3px 10px rgb(17, 20, 17), -2px -2px 10px rgb(2, 2, 2);
}



h2{
    font-size: 25px;
}
.OtherButton{
    width: 100px;
    height: 100px;
    background: linear-gradient(to top, rgb(7, 82, 7), rgb(53, 112, 53) 75%);
    border:0px;
    box-shadow: 1px 1px 3px rgb(7, 8, 7), -1px -1px 3px rgb(4, 5, 4);
    font-size: 80px;
    border-radius: 10px;
}


.box-1, .box-2, .box-3{
    background: linear-gradient(green -20%, gray);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26,26,26);
}
.right{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.art img{
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid black;
}

.box-1{
    flex-direction: column;
    width: 450px;
    border-radius: 10px;
    height: 642px;
    background: linear-gradient(green -20%, gray);
    margin-top: 50pt;
    margin-bottom: 15pt;
    box-shadow: 3px 3px 10px rgb(17, 20, 17), -2px -2px 10px rgb(2, 2, 2);
}
.box-2{
    flex-direction: column;
    width: 750px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(22, 177, 22), -2px -2px 10px rgb(22, 177, 22);
}
.box-3{
    flex-direction: column;
    width: 350px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(22, 177, 22), -2px -2px 10px rgb(22, 177, 22);
}

.art-name{
    text-align: center;
    overflow: hidden;
    width: 270px;
}

.box-1 h4{
    margin-bottom: 35px;
}

.art-name p{
    white-space: nowrap;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
}

.round{
    animation: round 4s linear infinite;
}

@keyframes round{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}


.run{
    animation: run 6s linear infinite;
}

@keyframes run{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.ctrl{
    cursor: pointer;
    background-color: green;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    margin: 0 15px;
}

.ctrl:active{
    transform: scale(0.9);
}

i{
    font-size: 28px;
}

.none{
    display: none;
}

.msc{
    margin-top: 30px;
}

.prog{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.time{
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    font-size: 14px;
}

.line{
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.lineChild{
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    background-color: green;
    width: 50%;
    height: 100%;
    transition: width 0.1s;
}

.lineChild::after{
    content: "";
    position: absolute;
    background-color: black;
    cursor: pointer;
    top: -3px;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}


h4{
    font-size: 25px;
}
td{
    font-size: 27px;
}
th{
    font-size: 35px;
    width: 342px;
}

