*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26,26,26);
}

.box-1, .box-2, .box-3{
    background: linear-gradient(green -20%, gray);
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: linear-gradient(to top, rgb(3, 87, 3), gray 70%);
}

.box{
    height: 100vh;
    flex-direction: column;
    display: static;
}

.art img{
    width: 170px;
    height: 170px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid black;
}

.box-1{
    flex-direction: column;
    width: 450px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(22, 177, 22), -2px -2px 10px rgb(22, 177, 22);
}
.box-2{
    flex-direction: column;
    width: 750px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(22, 177, 22), -2px -2px 10px rgb(22, 177, 22);
}
.box-3{
    flex-direction: column;
    width: 350px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(22, 177, 22), -2px -2px 10px rgb(22, 177, 22);
}

.art-name{
    text-align: center;
    overflow: hidden;
    width: 270px;
}

.box-1 h4{
    margin-bottom: 35px;
}

.art-name p{
    white-space: nowrap;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
}

.round{
    animation: round 4s linear infinite;
}

@keyframes round{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}


.run{
    animation: run 6s linear infinite;
}

@keyframes run{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.ctrl{
    cursor: pointer;
    background-color: green;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    margin: 0 15px;
}

.ctrl:active{
    transform: scale(0.9);
}

i{
    font-size: 28px;
}

.none{
    display: none;
}

.msc{
    margin-top: 30px;
}

.prog{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.time{
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    font-size: 14px;
}

.line{
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.lineChild{
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    background-color: green;
    width: 50%;
    height: 100%;
    transition: width 0.1s;
}

.lineChild::after{
    content: "";
    position: absolute;
    background-color: black;
    cursor: pointer;
    top: -3px;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

button{
    border-radius: 50%;
    background: linear-gradient(rgb(9, 107, 9) 30%, rgb(4, 151, 4));
    width: 60px;
    height: 60px;
    font-size: 42px;
    text-align: center;
    position: absolute;
    box-shadow: 1px 1px 3px rgb(11, 12, 11), -1px -1px 3px rgb(2, 2, 2);
    border: 0;
    margin: 10px;
}
h4{
    font-size: 25px;
}