body{
    background: linear-gradient(to top, rgb(179, 228, 179), rgb(160, 179, 160) 70%);
}
.Titolo
{
    position: relative;
    font-size: 58pt;
    text-align: center;
    color: rgb(2, 3, 2);
}
.d1
{
    background: linear-gradient(rgb(9, 107, 9) 30%, rgb(4, 151, 4));
    margin: 15pt;
    height: 100pt;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(4, 5, 4), -2px -2px 10px rgb(11, 14, 11);
}
.d2
{
    margin-left: 15pt;
    width: 300pt;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 642px;
    background: linear-gradient(green -20%, gray);
    margin-top: 50pt;
    margin-bottom: 15pt;
    box-shadow: 3px 3px 10px rgb(17, 20, 17), -2px -2px 10px rgb(2, 2, 2);

}
.d3
{
    margin-right: 15pt;
    margin-left: 50pt;
    width: 1050pt;
    height: 642px;
    background: linear-gradient(green -20%, gray);
    margin-top: 50pt;
    margin-bottom: 15pt;
    box-shadow: 3px 3px 10px rgb(17, 20, 17), -2px -2px 10px rgb(2, 2, 2);
}

button
{
    width: 95pt;
    height: 95pt;
    background: linear-gradient(to top, rgb(7, 82, 7), rgb(53, 112, 53) 75%);
    border:0px;
    box-shadow: 1px 1px 3px rgb(7, 8, 7), -1px -1px 3px rgb(4, 5, 4);
    font-size: 100px;
    border-radius: 10px;
}
h2{
    font-size: 25px;
}

td{
    font-size: 35px;
}
th{
    font-size: 50px;
}

.th-titolo{
    width: 410pt;
}
.th-bio{
    width: 560pt;
}
.th-ell{
    width: 80pt;
}
.td-ell{
    background-image: url('foto/garbage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.d4{
    background: linear-gradient(gray 30%, rgb(136, 184, 136));
    margin: 15pt;
    height: 100pt;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(4, 5, 4), -2px -2px 10px rgb(11, 14, 11);
}